<% dashboards.each(function(dash) { %>
  <a href="#/<%= dash.url() %>"><%= dash.escape('title') %></a><br>
<% }); %>

<hr>

<h3>New Dashboard</h3>

<form role="form" accept-charset="utf-8" id="new-dashboard-form">
  <label for="title">Title</label>
  <input type="text" name="dashboard[title]" value="" id="title">

  <p><input type="submit" value="Create Dashboard"></p>
</form>