<div id="dashboard-pane" class="col-md-3"></div>
<div id="notebook-pane" class="col-md-4">
  <div id="note-show-bar">
  </div>
</div>
<div id="note-pane" class="col-md-5">
  <div id="note-show-bar">
  </div>
</div>