<form id="new-notebook" accept-charset="utf-8">
  <input type="text" name="notebook[title]" value="" autofocus
         class="form-control notebook-title input-sm" placeholder="Notebook title...">

  <span class="submit-options">
    <input type="submit" value="Add" class="btn btn-success btn-sm">
    <span id="untoggle-notebook-form"
          class="glyphicon glyphicon-remove"></span>
  </span>
</form>
