<div class="list-group-item" id="notebook-form-container"></div>

<a id="new-notebook-toggle" class="list-group-item" href="#">
  <span class="glyphicon glyphicon-plus"></span> New Notebook
</a>

<div class="list-group-item sidebar-title" id="notebooks-collapse">
  <span class="glyphicon glyphicon-chevron-down"></span> Workspace: <%= dashboard.escape('title') %>
</div>

<% notebooks.each(function(notebook) { %>
  <a class="list-group-item notebook-sidebar-item" href="#<%= notebook.url() %>">
    <span class="glyphicon glyphicon-book"></span>
    <%= notebook.escape('title') %>
  </a>
<% }); %>