
<span class="glyphicon glyphicon-book"></span>
<%= notebook.escape('title') %>

<span class="options pull-right hide-options">
  <span class="glyphicon glyphicon-pencil edit-notebook"></span>
  <span class="glyphicon glyphicon-trash remove-notebook"></span>
</span>