
<span class="glyphicon glyphicon-book"></span>
<span class="notebook-list-title" data-id="<%= notebook.id %>">
  <%= notebook.escape('title') %>
</span>

<span class="options pull-right hide-options">
  <span class="glyphicon glyphicon-pencil edit-notebook"></span>
  <span class="glyphicon glyphicon-trash remove-notebook"></span>
</span>
