<li class="list-group-item">
  <form id="new-note" accept-charset="utf-8">
    <input type="text" name="note[title]" value="" class="form-control"
           placeholder="Notebook title...">

    <p class="submit-options">
      <input type="submit" value="Add" class="btn btn-success btn-sm">
      <span id="untoggle-note-form"
            class="glyphicon glyphicon-remove"></span>
    </p>
  </form>
</li>