
<h4 class="list-group-item-heading">
  <%= note.escape('title') %>

  <span class="pull-right hide-options note-list-options">
    <span class="glyphicon glyphicon-trash delete-note" data-id="<%= note.id %>">
  </span>
</h4>

<p class="note-preview list-group-item-text">
  <%= note.escape('body').slice(0, 50) %>
</p>