/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

html, body, #content, #rendered {
  height: 100%;
  overflow: hidden;
}

#dashboard-pane, #notebook-pane, #note-pane {
  padding: 50px 0 25px 0;
  height: 100%;
}

.sidebar-title {
  background: #E0E6E8;
  border: solid 1px #CED8DF;
  border-radius: 0;
}

.list-group-item {
  border-width: 1px 0 1px 0;
  border-radius: 0;
}

.glyphicon-remove {
  font-size: 1.5em;
  vertical-align: middle;
  padding-bottom: 3px;
  margin-left: 0.3em;
  color: #A9A9A9;

  &:hover {
    color: #686868;
  }
}

.submit-options {
  margin-top: 3px;
}