/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';


.glyphicon-remove {
  font-size: 1.5em;
  vertical-align: middle;
  padding-bottom: 3px;
  margin-left: 0.3em;
  color: #A9A9A9;

  &:hover {
    color: #686868;
  }
}

.submit-options {
  margin-top: 3px;
}