// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard-pane {
  background: #EAEDEF;
  border-right: solid 1px #B3B3B3;
}


#sidebar-notebook-workspace-name-form {
  display: none;
  padding: 2px 15px 5px 15px;
}