// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note-sidebar-item {
  height: 6em;
}

.note-preview {
  color: #717D86;
}

#note-pane {
  padding: 50px 0 2em 0;
  background: #F3F5F7;
}

#note-form-container {
  display: none;
}

#note-show-bar {
  height: 41px;
  width: 100%;
}

#new-note {
  padding: 0;
}

#note-editor {
  padding-top: 1em;
}

#note-editor, #note-edit-group, #note-text-editor {
  height: 90%;
}

#note-title-editor, #note-text-editor {
  box-shadow: none;
  outline: none;
  width: 100%;
  border-color: #B3B3B3;
  border-width: 1px;
  border-style: solid;
}

#note-title-editor {
  border-bottom: solid 1px #E4E4E4;
  border-radius: 4px 4px 0 0;
  padding: 0.3em 0.67em 0.3em 0.67em;
  font-size: 1.5em;
}

#note-text-editor {
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 0.3em 1em 0.3em 1em;
}

.glyphicon-floppy-saved {
  font-size: 1.5em;
}

.saved {
  padding: 0.6em 1em 0.4em 1em;
}