// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note-sidebar-item {
  height: 6em;
}

.note-preview {
  color: #717D86;
}

#note-pane {
  padding: 50px 1em 2em 1em;
  background: #F3F5F7;
}

#note-editor, #note-edit-group, #note-text-editor {
  height: 90%;
}

#note-title-editor, #note-text-editor {
  box-shadow: none;
  outline: none;
}

#note-title-editor {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

#note-text-editor {
  border-top: none;
  border-radius: 0 0 4px 4px;
}