// Place all the styles related to the notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notebook-pane {
  border-right: solid 1px #B3B3B3;
}


// Dashboard pane display of notebooks

#notebook-form-container {
  display: none;
}

.list-group-item.notebook-sidebar-item {
  background: #EAEDEF;
  padding: 2px 15px 1px 15px;
  border: 0;

  &:hover {
    background: #D1D4D7;
  }

  &.active-path {
    background: #c2c9ce;
  }
}

#notebooks-container {
  overflow-y: auto;
}

.hide-options {
  display: none;
}

.quicklink-container {
  min-height: 6em;
  width: 100%;
}
